@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-12 text-left">
            <footer class="container-fluid text-center">
                <p>@Html.Sitecore().Field("Copyrights")</p>
            </footer>
            <hr>
        </div>
    </div>
</div>