@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @* <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;max-height:40px" src="images/logo.png"></a>*@
            @Html.Sitecore().Field("Logo", new { mw = 100, mh = 40, @class = "navbar-brand" })
        </div>
        @Html.Sitecore().Placeholder("home")
    </div>
</nav>





